:root {
  --color-letras: #fff;
}
* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 70px auto 50px;
  grid-template-columns: auto 90% auto;
}
header {
  background: violet;
  grid-column: 2/3;
}
main {
  background: mediumslateblue;
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 5% 0;
  color: var(--color-letras);
}
footer {
  background: mediumaquamarine;
  grid-column: 2/3;
}

/* Buscador de la Pagina Web de Campo de Flores */
nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
nav > div {
  width: 20%;
  height: 100%;
  background: radial-gradient(violet, #fff 10%, violet);
}
nav > ul {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
nav > ul > li {
  margin: 0px 20px;
  list-style: none;
}
nav > ul > li > a {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
}

/* Pantalla Principal con Informacion */
.content-presentacion {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.content-flores {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-img {
  width: 500px;
  height: 200px;
  background-color: violet;
}
.enlace-flor {
  color: var(--color-letras);
  text-decoration: none;
  font-size: 1.3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: blueviolet;
  padding: 3px 5px;
  border-radius: 7px;
}
.enlace-flor:hover {
  transition-duration: 1s;
  background:violet;
  color:black;
}
